[KillRadius]
Archer: 5
Swordsman: 1
Leader: 1

[DynamicField]
Archer: 10
Swordsman: 10
Leader: 50

[0]
ArcherMu = 0.25
ArcherSigma = 0.04
SwordsmanMu = 0.5
SwordsmanSigma = 0.08
LeaderMu = 1.0
LeaderSigma = 0.0

[1]
ArcherMu = 0.25
ArcherSigma = 0.04
SwordsmanMu = 0.5
SwordsmanSigma = 0.08
LeaderMu = 1.0
LeaderSigma = 0.0
